.button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0.1px 0.1px 4px .5px black;
    cursor: pointer;
    color: black;
    font-size: small;
    background-color: #F7E7DC;
    font-weight: 600;
    letter-spacing: .5px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}